**/node_modules
**/vendor
**/.env
**/.env.*
**/storage/*.key
**/storage/logs
**/storage/framework/cache
**/storage/framework/sessions
**/storage/framework/views
**/bootstrap/cache
**/.idea
**/.vscode
**/public/storage
**/composer.lock
**/yarn.lock
**/npm-debug.log
**/phpunit.result.cache
**/.phpunit.result.cache
**/.DS_Store
**/Homestead.json
**/Homestead.yaml
**/.sass-cache
**/node_modules/